.login-form{
    border: 1px solid #a4a7b7;
    margin: 10% 0 0 18%;
    padding: 2em;
    height: 55vh;
}
p{
    color: #737373;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    border: 1px solid #a4a7b7;
    height: 5vh;
    border-radius: 3px;
    margin-bottom: 2%;
}
label{
    margin-bottom: 1%;
}
.blue{
    color: #0a74dc;
    text-align: center;
    margin-top: 4%;
}
.privacy{
    margin-top: 12%;
    text-align: center;
}
.button{
    border: none;
    border-radius: 5px;
    margin-top: 3%;
    height: 6vh; 
    padding: 1em; 
    color: #ffffff; 
    background-color: #0a74dc;
    width: 20vw;
}
@media screen and (max-width: 767px) {
    .login-form{
        margin-left: 5%;
    }
}