.sidenav{
    background: #031434;
    height: 100vh;
    width: 18vw;
}
.logo{
    margin: 5% 0 0 30%;
}
.links{
    display: flex;
    flex-direction: column;
}
.link{
    text-decoration: none;
    color: #ffffff;
    padding: 1em;
}
.link:first-child{
    margin-bottom: 10%;
}
.link img{
    padding-right: 1em;
    height: 2.5vh;
}
.hamburger, .close{
    display: none;
}
@media screen and (max-width: 767px) {
    .sidenav{
        display: none;
    }
    .hamburger{
        display: block;
        position: absolute;
        margin-top: 10%;
        left: 5%;
    }
    .sidenav-top{
        display: flex;
    }
    .close{
        display: block;
        color: #ffffff;
        margin: 5% 0 0 20%;
    }
 }