.topnav{
    padding: 0.5em;
    width: 80vw;
}
.nav-info{
    display: flex;
    margin-left: 80%;
    width: 15vw;
}
.user{
    display: flex;
    padding: 0.5em;
}
.avatar{
    padding-right: 1em;
}
@media screen and (max-width: 767px) {
    .sidenav{
        margin-left: 45%;
    }
    .nav-info img{
        padding-right: 1em;
    }
 }